.row
  .col-xs-12.col-md-6.col-md-offset-3
    .login-box
      .logo
        %h2 Change your password
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        .sub-login-box
          = f.hidden_field :reset_password_token
          - if resource.errors.any?
            #error_explanation
              %ul.alert.alert-danger.alert-dismissable
                %a.close{ aria: { label: 'close' }, data: { dismiss: 'alert' }, href: '#' } ×
                - resource.errors.full_messages.each do |message|
                  %li= message
          .field
            = f.label :password, 'New password'
            = f.email_field :password, autocomplete: 'off'
            .form-text.text-muted
              - if @minimum_password_length
                %small
                  (#{@minimum_password_length} characters minimum)
          .field
            = f.label :password_confirmation, 'Confirm new password'
            = f.password_field :password_confirmation, autocomplete: 'off'
        .actions
          = f.submit 'Change my password', class: 'btn btn-lg btn-default'
        = render 'devise/shared/links'
