.row
  .col-xs-10.col-sm-9.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-7
    .login-box
      .logo
        %h2 Sign in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-box
          .field
            = f.label :email
            = f.email_field :email
          .field
            = f.label :password
            = f.password_field :password, autocomplete: 'off'
          - if devise_mapping.rememberable?
            .checkbox.checkbox-info.checkbox-circle
              = f.check_box :remember_me
              = f.label :remember_me
        .actions
          = f.submit 'Sign in', class: 'btn btn-lg btn-default'
        = render 'devise/shared/links'
