%nav.navbar.navbar-inverse.navbar-fixed-left
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ data: { target: '#myNavbar', toggle: 'collapse' }, type: 'button' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        LIBRARY
        %span.glyphicon.glyphicon-book{ aria: { hidden: true } }
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'About', '#'
        %li
          = link_to 'New Book', new_book_path
        %li
          = link_to 'Contact', '#'
      .navbar-form.navbar-left
        = form_tag '#', method: :get do
          .form-group
            = text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control'
          .form-group
            = submit_tag 'Search', name: nil, class: 'btn btn-default'
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.active
            = link_to edit_user_registration_path, title: current_user.email do
              Profile
              %span.glyphicon.glyphicon-user
          %li
            = link_to destroy_user_session_path, method: :delete do
              Logout
              %span.glyphicon.glyphicon-log-out{ aria: { hidden: true } }
        - else
          %li
            = link_to new_user_registration_path do
              Sign Up
              %span.glyphicon.glyphicon-user{ aria: { hidden: true } }
          %li
            = link_to new_user_session_path do
              Sign In
              %span.glyphicon.glyphicon-log-in{ aria: { hidden: true } }
